@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Propriétés CSS de base */

:root {
    --bg-black-900: #F2F2F2;
    --bg-black-100: #fdf9ff;
    --bg-black-200: #e7e5e8;
    --bg-black-50: #e8dfec;
    --color-primary-100: #004D7A;
    --color-primary-200: #8BC34A;
    --text-black-900: #000000;
    --text-black-700: rgb(51, 51, 51);
    --text-black-100: #000000;
    --text-white-100: #ffffff;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-200: #393939;
    --bg-black-50: #393939;
    --color-primary-100: #004D7A;
    --color-primary-200: #8BC34A;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
    --text-black-100: #ffffff;
    --text-white-100: #000000;
}

html,
body {
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Open Sans', 'Arial';
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'Open Sans', 'Arial';
}

/* Login Page */
.login-part {
    background-color: var(--bg-black-100);
    overflow: hidden;
}

.login-part img {
    margin-left: 40px;
}

.login-form {
    padding: 20px;
    border-color: var(--text-black-100);
}

.login-form h3 {
    margin: 20px 0px;
    color: var(--text-black-100);
}

.login-form p {
    color: var(--text-black-100);
}

.login-form .forgot-password {
    color: var(--color-primary-100);
}

.login-input {
    margin: 5% 0%;
}

.login-input label {
    font-family: 'Open Sans', 'Arial';
    margin: 3px 0px;
    color: var(--text-black-100);
}

.login-input input {
    border-color: var(--color-primary-200);
    padding: 5px;
    padding-left: 45px;
}

.login-input i {
    margin: 16px 5px;
    color: var(--color-primary-100);
}

.login-text h1 {
    color: var(--color-primary-200);
    margin: 20px 0px;
}

.login-text h2 {
    color: var(--color-primary-100);
}

.btn-login {
    background-color: var(--color-primary-100);
    padding: 12px 150px;
    margin-top: 30px;
}

.btn-login:hover {
    background-color: var(--color-primary-200);
}

/* Home Page */
.admin-layout {
    background-color: var(--bg-black-900);
}

.sidebar {
    border-color: var(--bg-black-200);
}

body.nav-closed .sidebar {
    display: none;
}

.logo-section {
    margin: 10px 15px 0px 15px;
    padding-bottom: 3px;
    border-color: var(--bg-black-200);
}

.app-name {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    margin: -8px 0px 0px 10px;
}

.nav-menu {
    padding: 0px 15px;
}

.nav-item {
    padding: 10px 0px 15px 0px;
    border-color: var(--bg-black-200);
}

.nav-item .section-title {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    margin: 0px 0px 8px 5px;
}

.nav-link {
    padding: 8px 5px 8px 5px;
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
}

.nav-link:hover {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
}

.home-icon {
    margin-right: 5px;
}

.submenu li {
    margin: 10px 0px 5px 0px;
}

.logout-section {
    margin: 10px 20px 80px 20px;
}

.logout-button {
    margin: 15px 0px;
    padding: 8px 5px 8px 5px;
    color: var(--text-black-100);
}

.logout-button:hover {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
}

.user-profile {
    background-color: var(--bg-black-900);
    color: var(--text-black-100);
    border-color: var(--bg-black-200);
    padding: 5px 0px 15px 0px;
}

.user-profile h4 {
    padding: 5px 10px;
    background-color: rgba(0, 77, 122, 0.7);
}

/* Header Page */
.header-page {
    padding: 10px 30px;
    border-color: var(--bg-black-200);
    background-color: var(--bg-black-900);
}

.header-left,
.icon-notification {
    color: var(--text-black-100);
}

.header-right {
    margin-right: 20%;
}

body.nav-closed .header-right {
    margin-right: 0%;
}

.search-input {
    padding: 5px 10px;
    color: var(--text-black-100);
    border-color: var(--bg-black-200);
    font-family: 'Open Sans', 'Arial';
}

.icon-side {
    padding-right: 20px;
}

.icon-k-search {
    background-color: rgba(124, 124, 124, 0.7);
    color: var(--text-black-900);
    padding: 5px;
}

.mode-icon {
    background-color: rgba(0, 77, 122, 0.7);
    color: var(--text-black-100);
    padding: 10px;
}

/* Dashboard Page */
.dashboard-message {
    color: var(--text-black-100);
    margin: 300px;
    font-family: 'Open Sans', 'Arial';
}

/* Mecaniciens Page */

.mecaniciens-menu,
.affectations-menu,
.aeronefs-menu,
.performances-menu,
.incident-menu,
.operations-menu {
    margin-top: 100px;
}

.mecaniciens-stats,
.affectations-stats,
.aeronefs-stats,
.performances-stats,
.incident-stats {
    margin: 0px 30px;
}

.stats-item-mecaniciens,
.stats-item-task,
.stats-item-aeronefs,
.stats-item-performance,
.stats-item-incident {
    background-color: var(--bg-black-200);
    padding: 15px;
}

.stats-item-title,
.icon-total {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
}

.stats-item-value, .stats-item-value-total {    
    margin: 10px 0px 0px 15px;
}

.stats-item-value-total {
    color: var(--text-black-100);
}

.add-mecanicien-btn,
.add-team-btn,
.list-add-mecanicien-btn,
.list-add-incident-btn,
.list-add-team-btn,
.add-incident-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 5px;
}

.add-mecanicien-btn p,
.add-team-btn p,
.add-incident-btn p {
    display: none;
}

.add-mecanicien-btn:hover p,
.add-incident-btn:hover p {
    display: flex;
}

.graph-container {
    background-color: var(--bg-black-200);
    margin: 40px 30px 0px 30px;
}

.graph-container h3 {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    margin: 20px;
}

.graph-placeholder {
    color: var(--text-black-100);
    margin-top: 100px;
}

.list-add-team-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 10px;
}

.table-team {
    background-color: var(--bg-black-200);
    margin: 40px 30px 0px 0px;
}

.table-team table th {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    padding: 20px 20px 0px 20px;
}

.table-team table td {
    font-family: 'Open Sans', 'Arial';
    color: var(--color-primary-200);
    padding: 10px 20px;
}

.table-team table td span {
    color: var(--text-black-100);
}

.table-body-team tr:hover {
    background-color: var(--bg-black-100);
}

.edit-team-btn {
    color: var(--color-primary-100);
    padding: 5px;
}

.delete-team-btn {
    padding: 5px;
}

.plus-team-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 5px;
    margin: 20px 120px;
}

.list-mecaniciens,
.list-assignments,
.list-incidents {
    
    
}

.list-mecaniciens h3,
.list-assignments h3,
.list-incidents h3 {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    padding: 20px;
}

.table-mecaniciens,
.table-assignments {
    margin-bottom: 30px;
}

.table-header-mecaniciens th,
.table-body-incidents th,
.table-assignments th,
.table-header-incidents th {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-white-100);
    padding: 10px 20px 10px 20px;
}

.table-header-incidents, .table-header-mecaniciens {
    background-color: var(--color-primary-200);
}

.table-body-incidents tr:hover, .table-body-mecaniciens tr:hover, .table-body-assignments tr:hover {
    background-color: var(--bg-black-50);
}

.table-body-mecaniciens td,
.table-body-assignments td,
.table-body-incidents td {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    padding: 20px 10px 20px 20px;
}

.mecanicien-status.disponible {
    background-color: green;
    padding: 5px;
}

.mecanicien-status.conges {
    background-color: orange;
    padding: 5px;
}

.incident-status.critique {
    background-color: red;
    padding: 5px;
}

.incident-status.moyenne {
    background-color: orange;
    padding: 5px;
}

.incident-status.mineur {
    background-color: green;
    padding: 5px;
}

.table-body-mecaniciens .edit-btn,
.table-body-incidents .edit-btn {
    color: var(--text-black-100);
    border: 1px solid var(--color-primary-100);
    padding: 5px;
}

.list-buttons {
    margin-right: 100px;
}

/* Affectations Menu */
.assign-task-form {
    background-color: var(--bg-black-200);
    margin: 50px 30px;
    padding: 20px 30px;
}

.assign-task-form h3 {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
}

.assign-task-form form {
    margin-top: 20px;
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
}

.assign-task-form form .assignation {
    margin: 20px 0px 0px 0px;
}

.assign-task-form form select {
    padding: 5px;
    background-color: var(--bg-black-100);
    color: var(--text-black-100);
    opacity: 0.5;
}

.assign-task-form form select option:hover {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
}

.assignation-options input[type="checkbox"]:checked {
    background-color: var(--color-primary-200);
    border-color: var(--color-primary-200);
}

.task-status.en-cours {
    background-color: green;
    padding: 5px;
}

.task-status.planifier {
    background-color: blue;
    padding: 5px;
}

.assignation-options {
    margin: 15px 0px;
}

.assignation-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 10px 20px;
    margin-top: 30px;
}

.assign-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 10px;
}

/* Aeronefs Page */
.list-add-incident-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    margin: 0px 30px 30px 0px;
    padding: 10px;
}

.add-aeronef-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 5px;
}

.add-aeronef-btn p {
    display: none;
}

.add-aeronef-btn:hover p {
    display: flex;
}

.aeronefs-list, .incidents-list {
    margin: 30px;
}

.aeronefs-list h2, .incidents-list h2 {
    font-family: 'Open Sans', 'Arial';
    color: white;
    margin: 0px 0px 0px 5px;
}

.avion-service,
.avion-maintenance,
.avion-hors-service, .incidents-critique, .incidents-moyenne, .incidents-mineur {
    background-color: var(--bg-black-200);
    padding: 20px;

}

.avion-hors-service {
    background-color: rgba(255, 0, 0, 0.2);
}

.avion-hors-service h2 {
    background-color: red;
    padding: 8px;
}

.avion-maintenance {
    background-color: rgba(255, 165, 0, 0.2);
}

.avion-maintenance h2 {
    background-color: orange;
    padding: 8px;
}

.avion-service {
    background-color: rgba(0, 128, 0, 0.2);
}

.avion-service h2 {
    background-color: green;
    padding: 8px;
}

/* Card Aeronef */
.card-aeronef, .card-incident {
    background-color: var(--bg-black-100);
    padding: 15px;
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
}

.statut-aeronef {
    padding: 6px;
}

.statut-aeronef.service {
    background-color: rgb(0, 128, 0);
    color: white;
}

.statut-aeronef.maintenance {
    background-color: rgb(255, 165, 0);
    color: white;
}

.statut-aeronef.hors-service {
    background-color: rgb(255, 0, 0);
    color: white;
}

.card-aeronef .list-buttons, .card-incident .list-buttons {
    margin: 0px 30px;
}

.card-aeronef .btn-edit-aeronef, .card-incident .btn-edit-incident {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    padding: 7px;
}

.card-aeronef .btn-delete-aeronef, .card-incident .btn-delete-incident {
    background-color: rgb(244, 67, 54);
    color: var(--text-white-100);
    padding: 7px;
}

/* Performances Aeronefs Page */
.graph-performances-aeronef h3 {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    margin: 30px 0px 20px 30px;
}

.graph-performances-aeronef .graph-placeholder {
    background-color: var(--bg-black-200);
    margin: 0px 30px 30px 30px;
}

.stats-item-performance-aeronef {
    background-color: var(--bg-black-200);
    color: var(--text-black-100);
    padding: 15px;
    margin: 10px 0px;
}

.stats-performance-aeronef h3 {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    margin: 10px 0px;
}

.stats-performance-aeronef h3,
.stats-item-info,
.stats-item-details p {
    color: var(--text-black-100);
}

.stats-item-details h5 {
    color: var(--text-black-700);
}

.stats-performance-aeronef {
    margin: 30px;
}

/* Incident Page */
.list-buttons-incident {
    margin: 30px 10px 0px 0px;
}

.incidents-critique {
    background-color: rgba(255, 0, 0, 0.2);
}

.incidents-critique h2 {
    background-color: red;
    padding: 8px;
}

.incidents-moyenne {
    background-color: rgba(255, 165, 0, 0.2);
}

.incidents-moyenne h2 {
    background-color: orange;
    padding: 8px;
}

.incidents-mineur {
    background-color: rgba(0, 128, 0, 0.2);
}

.incidents-mineur h2 {
    background-color: green;
    padding: 8px;
}

/* Operations Page */
.operations-header,
.aeronefs-header {
    margin: 30px 0px 20px 30px;
}

.operations-filter,
.aeronefs-filter {
    margin: 20px 0px;
}

.operations-header h4,
.operations-vue p,
.aeronefs-header h4,
.aeronefs-vue p {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
}

.operations-header .icon-header,
.aeronefs-header .icon-header {
    color: var(--text-black-100);
}

.list-add-operation-btn,
.list-add-aeronef-btn {
    background-color: var(--color-primary-200);
    color: var(--text-white-100);
    margin: 0px 30px 0px 0px;
    padding: 10px;
}

.button-vue.active,
.button-vue:hover {
    background-color: var(--color-primary-200);
    padding: 8px;
}

.button-vue.active p,
.button-vue:hover p {
    color: var(--text-white-100);
}

.input-search-operation {
    display: none;
    color: var(--text-black-100);
    background-color: var(--bg-black-200);
    padding: 5px 10px;
    opacity: 0.7;
}

.table-operations {
    margin: 30px;
}

.table-operations th {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    padding: 5px 10px 10px 0px;
}

.table-body-operations td {
    font-family: 'Open Sans', 'Arial';
    color: var(--text-black-100);
    padding: 15px 0px;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}